*{
  margin: 0;
  padding: 0;
  font-family: "ubuntu", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(61, 53, 153);
}

h1{
  color: white;
  text-align: center;
  font-size: 50px;
  margin: 20px;
  text-shadow: 5px 5px 20px black;
}

#container{
  height: 100vh;
  max-width: 580px;
  
}

.textarea{
  width: 500px;
  height: 40px;
  max-width: 500px;
  min-height: 40px;
  min-width: 500px;
  font-size: 25px;
  border-radius: 3px;
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;
}

#divInput{
  display: flex;
  margin-bottom: 10px;
}

.divlist{
  display: flex;
  max-width: 100%;
  margin-bottom: 10px;
  justify-content: space-between;
  background-color: white;
  border: 1px solid black;
  padding-left: 5px;
  border-radius: 3px;
  border: none;
}

#item{
  cursor: pointer;
  margin: 10px;
  font-size: 25px;
  word-wrap:break-word;
  max-width: 87%;
  width: 87%;
}

.checked{
  text-decoration: line-through;
  color: rgb(36, 180, 36);
}

.buttonList{
  background-color: rgb(255, 255, 255);
  width: 50px;
  font-size: 15px;
  border: none;
  border-left: 1px solid black;
  cursor: pointer;
  border-radius: 0px 3px 3px 0px;
}
.buttonList:hover{
  background-color: rgb(200, 253, 240);;
}

.button-adicionar{
  width: 60px;
  margin-left: 10px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white;
  padding: 5px;
  font-size: 25px;
  cursor: pointer;
}

.button-adicionar:hover{
  background-color: rgb(200, 253, 240);;
}

.buttonTrash{
  background-color: rgb(255, 255, 255);
  width: 50px;
  font-size: 15px;
  border: none;
  border-left: 1px solid black;
  cursor: pointer;
  border-radius: 0px 3px 3px 0px;
}

.buttonTrash:hover{
  background-color: rgb(200, 253, 240);;
}